body {
  padding:0;
  background:red;
  margin:0;
}
.note {
  background:white;
  padding:24px;
  border-bottom-left-radius:32px;
  border-bottom-right-radius:32px;
  margin:0 auto;
  margin-bottom:200px;
  min-width:800px;
  width:60%;
}
.center_contents {
  margin:0 auto;
  text-align:center;
}
.code {
  font-family:Consolas;
}

.floatleft {
  float:left;
  margin-right:12px;
}

.coupon {
  margin:0 auto;
  margin-top: 80px;
  margin-bottom:200px;
  max-width:800px;
  background:white;
  text-align:center;
  padding:80px;
  font-size:40px;
  font-style:italic;
  
  border-width:40px;
  border-style:solid;
  border-color:rgb(200,0,0);
  border-image:
    repeating-linear-gradient(
      45deg,
      rgba(200, 0, 0, .85) 0px,
      rgba(200, 0, 0, .95) 5px,
      transparent 5px,
      transparent 10px,
      rgba(200, 0, 0, .85) 10px, 
      rgba(200, 0, 0, .95) 15px,
      transparent 15px,
      transparent 20px
    ) 40 40 40 40 stretch;
  
}
.amt {
  font-style:normal;
  font-size:120px;
}
.caveat {
  font-size:12pt;
  font-style:normal;
}
